td {
    text-align: center;
}

p {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}

h2 {
    margin-left: 45%
}

img {
    margin-left: 40%;
}

.linkto {
    margin-left: 40%;
    margin-top: 20px;
}

a {
    text-decoration: none;
}

table {
    background-color: ghostwhite;
}

body {
    background-color: lightblue;
}